.search {
    width: 120%;
    margin-left: -30px;
    margin-top: 10px;
    max-width: 400px;
    height: 40px;
    border: none;
    font-size: 12px;
    padding: 0 20px;
    color: #0d0d0d;
    border-radius: 50px;
    background-color: #f8f9fd;
    box-sizing: border-box;
    border: #828ea5 solid 2px;
  }